div {
    padding: 20px 40px 20px 40px;
}

body{
    font:normal 400 "Bree Serif";
}
nav {
    background-color: black;
    border-radius: 5px;
    
}
ul {
    position: relative;
    bottom: 20px;
}

img {
    position: relative;
    bottom: 9px;
    width: 40px;
}


@media screen and (min-width: 400px){
    div {
        width: 100%;
    }
}

@media screen and (max-width: 300px){
    div {
        width: 100%;
    }
    .moreVert{
        width: 100%;  
    } 
}

@media (min-width: 300px) {
    div {
        width: 100%;
    }
    .moreVert{
        width: 100%;  
    }
}
  
 main{
    float: left;
    width: 75%;
    background-color: rgb(199, 197, 197);
    padding: 60px;
    margin: 10px;
    box-sizing: border-box;
    
   
 }

.box1{
    background-color: white;
}



.form{
    background-color: rgb(238, 238, 238);

}

.sidebar{
    background-color: white;
 
}

.main1{
    position: absolute;
    top: 180px;
    right: 40px;
    float: right;
    width: 20%;
    background-color: rgb(224, 217, 217);
    padding: 20px;
    margin: 20px; 
    box-sizing: border-box;
  
 }

 .main2{
    position: absolute;
    top: 480px;
    right: 40px;
    float: right;
    width: 20%;
    background-color: rgb(224, 217, 217);
    padding: 20px;
    margin: 20px; 
    box-sizing: border-box;
  
 }

footer{
    float: left;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}