div {
    padding: 20px 40px 20px 40px;
}


nav {
    background-color: black;
    border-radius: 5px;
    
}
ul {
    position: relative;
    bottom: 20px;
}

img {
    position: relative;
    bottom: 9px;
    width: 40px;
}


@media screen and (min-width: 400px){
    div {
        width: 100%;
    }
}

@media screen and (max-width: 300px){
    div {
        width: 100%;
    }
    
}

@media (min-width: 300px) {
    div {
        width: 100%;
    }
    .moreVert{
        width: 100%;  
    }
}
  
 main{
    float: left;
    width: 80%;
    background-color: rgb(199, 197, 197);
 }

.box1{
    background-color: white;
}

form{
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 15px;
}

.sidebar{
    float: right;
    width: 10%;
    background-color: rgb(199, 197, 197);
}


footer{
    float: left;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}